.drink {
  position: relative;
  display: block;
  justify-content: center;
  left: 25%;
  top: 25%;
  width: 50%;
}

.title {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.ingredients {
  position: relative;
  margin: 10px;
  text-align: center;
}

.instructions {
  position: relative;
  margin: 10px;
  text-align: center;
}

.image {
  width: 366px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
